@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Cookie&family=Orbitron:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
}

.nav {
  z-index: 3;
  top: 0;
  left: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 0.5px solid #ffffff4c;
  font-family: "Cookie", cursive;
  font-size: 2em;
  background-color: rgb(0, 0, 0);
  padding-bottom: 0.15em;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: -1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-overley {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.486);
}

.o {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 3em;
  display: flex;
  justify-content: center;
  gap: 2em;
  color: rgb(240, 3, 3);
  align-items: center;
  padding: 1em;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 2em;
  font-weight: 200;
}

.gallery {
  font-family: "Righteous", cursive;
  font-size: 2.2em;
}

#sidebar {
  background-color: rgba(0, 0, 0, 0.785);
  color: rgb(50, 211, 38);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
a {
  text-decoration: none;
  padding-top: 10px;
}

.logo {
  font-size: 2.2rem;
}

.divi {
  background-color: red;
  width: 100px;
  height: 100px;
}

.text {
  margin-left: auto;
  margin-right: auto;
  font-family: "Orbitron", sans-serif;
  margin-top: 2em;
}

.hiding {
  display: none;
}

.topicSector {
  background-color: gray;
}

.title {
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.ED {
  display: flex;
  gap: 10px;
}

input {
  width: 70%;
  margin: 2em;
  min-height: 5em;
}

.add {
  background-color: rgb(115, 192, 0);
  color: black;
  border-radius: 20px;
  font-size: 1.3rem;
  margin-left: 2em;
  border: none;
  padding: 0.5em;
}

.date {
  background-color: rgba(149, 160, 149, 0.383);
}

.color {
  background-color: green;
  color: yellow;
}

.bttn {
  border: 0;
  border-radius: 20px;
  padding: 0.5em;
  margin: 0.2em;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  min-width: 8em;
}
.timeslots-container {
  display: flex;
  justify-content: center;
}

.timeslots {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  gap: 0.2em;
  justify-content: center;
}


.react-datepicker {
  background-color: red;
  width: 50vw;
}
.react-datepicker {
  min-width: 100%;
  background-color: rgb(54, 224, 15);
  border: 0 !important;
  border-radius: 0px !important;
}

.react-datepicker__month-container {
  width: 50vw;
  background-color: black;
  background-size: cover; /* Ensure the image covers the entire container */
  border-radius: 0px;
  min-height: 50%;
  min-width: 100%;
}
.react-datepicker__day-names {
  margin: auto;
}
.react-datepicker__header {
  justify-self: flex-start;
  background-color: rgba(201, 201, 201, 0.306) !important;
  font-family: "Orbitron", sans-serif;
  font-weight: 450;
  font-style: bold;
  border: none !important;
}

.react-datepicker__day-names {
  display: flex;
  align-items: center;
  margin: 0;
}

.react-datepicker__day--weekend {
  font-family: "Orbitron", sans-serif;
}
.react-datepicker__day {
  background-color: rgba(75, 75, 75, 0.239);
  color: rgb(255, 255, 255) !important;
  border-radius: 0.4em;
  font-size: 1.5em;
  width: 2em !important;
}
.react-datepicker__day--disabled {
  color: rgba(214, 212, 212, 0.746) !important;
}

.react-datepicker__day-names {
  white-space: nowrap;
  margin-bottom: -8px;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.yo {
  font-family: "Orbitron", sans-serif;
}

.logo {
  color: #ffff;
}

.headerbt {
  background-color: black;
  border: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400;
  padding: 0.25em;
  font-family: "Gruppo", sans-serif;
  font-weight: 800;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 6px;
}

.headerbt:hover,
#bookbttn {
  background-color: rgba(255, 255, 255, 0.791);
  color: black;
}

.order {
  background-color: rgba(0, 0, 0, 0.866);
  color: rgba(251, 251, 251, 0.774);
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  margin-top: 30px;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 8px;
  font-weight: 300;
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
  border: 1px solid rgba(155, 215, 15, 0.283);
}

.gallery {
  font-family: "Righteous", cursive;
  font-size: 2.2em;
  margin: 10px;
}

#sidebar {
  background-color: rgba(0, 0, 0, 0.785);
  color: rgb(50, 211, 38);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
a {
  text-decoration: none;
  padding-top: 10px;
}

.logo {
  font-size: 2.6rem;
}
.menuitem {
  font-size: 16px;
  justify-content: flex-end;
  padding-left: 2em;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(250, 250, 250, 0.243);
  padding-right: 2em;
}



.divi {
  background-color: red;
  width: 100px;
  height: 100px;
}

.content {
  background-color: rgba(255, 255, 255, 0.043);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100wv;
  min-height: 60vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}

.ordersection {
  background-color: rgba(218, 218, 218, 0.068);
  border-radius: 6px;
  flex-direction: column;
  width: 100%;
  padding: 0.8em;
}
.gallSector{
  margin-bottom: 1em;
  width: 100%;
  min-height: 100%;
}

.firsword {
  color: rgba(208, 220, 35, 0.841);
}
.call {
  border: 1px solid #fefefeb4;
  border-radius: 8px;
  width: 80%;
  height: 2.2rem;
  background-color: rgba(0, 0, 0, 0.841);
  font-size: 1em;
  color: rgba(208, 220, 35, 0.841);
  margin: 10px;
  letter-spacing: 2px;
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
}

.calltext {
  font-family: "Rubik", sans-serif;
}

.green {
  display: flex;
  gap: 2em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
  width: 80%;
}

.item {
  width: px;
}

.gallerydiv {
  background-color: red;
  width: 100%;
}

.galleryiimg {
  width: 99%;
  height: 99%;
  border-radius: 10px;
  border: 1px solid rgba(157, 156, 156, 0.274);
}

.zinikela {
  background-color: blueviolet;
  cursor: pointer;
}

.ziniko {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
}

.p {
  margin-top: 50px;
  height: 100px;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.718);
  width: 100%;
  border-radius: 8px;
  padding-bottom: 7.5em;
}

.bottomtext {
  margin-top: 1em;
  border-top: 0.5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.logonottom {
  font-family: "Righteous", cursive;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.4em;
  color: rgba(208, 220, 35, 0.841);
  padding-left: 0.3em;
}

.wow {
  background-color: rgba(129, 177, 63, 0.553);
  color: red;
}

.inform {
  padding: 1.2em;
  color: rgba(255, 255, 255, 0.827);
  border-radius: 8px;
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
  display: inline-flex;
}

.bvideo {
  width: 90%;
  height: 100%;
}

.bookstudio {
  background: radial-gradient(
    circle at -10% 51.2%,
    rgb(209, 220, 37) 0%,
    rgb(209, 220, 37) 0 15.9%,
    rgb(0, 0, 0) 15.9%,
    rgb(58, 65, 58) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(209, 220, 37) 66%
  );
  width: 50%;
  border: none;
  height: 100px;
  border-radius: 8px;
  font-size: 1.3em;
  font-weight: 300;
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
}
.bookequipment {
  background: radial-gradient(
    circle at 110% 51.2%,
    rgb(243, 243, 243) 0%,
    rgba(231, 231, 240, 0.626) 15.9%,
    rgb(172, 55, 157) 15.9%,
    rgb(160, 196, 163) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgba(92, 193, 15, 0.984) 66%
  );
  width: 50%;
  border: none;
  font-size: 1.3em;
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
}

.equipmenttext {
  margin-right: 1.3em;
}

.back {
  width: 32px;
  height: 32px;
}

.load {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink-button {
  --button-bg-color: rgba(208, 220, 35, 0.841);
  --color: black;
}

.blackbutton {
  --button-bg-color: rgba(0, 0, 0, 0.926);
  --color: white;
}

.rentstudio {
  background-color: var(--button-bg-color);
  background-repeat: no-repeat;
  background-size: 50% auto;

  color: var(--color);
  width: 15em;
  height: 60px;
  border: 1px solid rgba(209, 220, 35);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  border-radius: 50px;
  font-weight: 300;
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
}

.instructortext {
  margin-top: 1em;
  margin-bottom: 1em;
}

.social {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}

.socialimg {
  width: 32px;
  height: 32px;
  margin-right: 1em;
}

.aboutus {
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
  letter-spacing: 2px;
  padding-bottom: 2em;
  font-weight: 400;
}
.aboutus p {
  margin-top: 0.5em;
}
@media only screen and (max-width: 600px) {

  .gallerySector{
  }
}

@media only screen and (min-width: 600px) {
  .gallSector{
    margin-bottom: 6em;
    width: 100%;
    min-height: 100%;
  }

  .ainiko{
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .accordionSector{
    min-width: 100% ;
  }
  .submit{
    width: 9em !important;
    display: flex;
  }
  .content {
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 300% auto;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 5em !important;
    margin-top: 5%;
  }


  .hiding {
    display: inline;
    max-width: 80%;
  }
  .o {
    padding-top: 10%;
    padding-left: 3em;
    display: flex;
    flex-direction: flex-start;
    justify-content: flex-start;
  }
  .text {
    background-color: rgba(0, 0, 0, 0.089);
    margin-right: 0;
    min-width: 100%;
  }

  .servicedescription {
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 2em;
    margin-top: 2em;
  }



  .s {
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
  }

  .gallerySector {
    width: 400px;
    height: 400px;

    img {
      border-radius: 1rem;
    }
  }

  .descr {
    line-height: 2.5em;
  }

  .descsect {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
  }



  
}

.servicedescription {
  margin-left: 1em;
  min-width: 90%;
  margin-right: 0.3em;
  margin-left: 1em;
  margin-right: 1em;
}

.studiorentDecrb {
  margin-left: 1em;
}

.carr {
  width: 100vw;
  margin: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
  margin-bottom: 0.7em;

}

.carouselSector {
  max-width: 100px;
}

.gallerySector {
  margin: 1em;
  max-width: 100vw;
  max-height: 100vh;

  img {
    border-radius: 1rem;
  }
}

.titledj {
  background-color: #053b48;

  h1 {
    background-color: gray;
    width: 100%;
    position: absolute;
    margin-top: 50%;
    text-align: center;
  }
}

.hide {
  visibility: collapse;
}

.galleryAndfaqTitle {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  margin-bottom: -2em;
}




button[id=":Rbqmula:"],
button[id=":RdqmulaH1:"],
button[id=":Rfqmula:"],
button[id=":Rdqmula:"],
button[id=":R1larqkq:"],
button[id=":R1tarqkq:"],
button[id=":Rdamula:"],
button[id=":R1narqkq:"],
button[id=":R1varqkq:"],
button[id=":R1farqkq:"] {
  /* Your styles for the button */
  background-color: rgba(27, 29, 25, 0.501);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid rgb(35, 200, 16);
  padding: 1em;
}

.text-foreground .text-large {
  background-color: red;
}

.faqtext {
  padding: 1em;
  background-color: #095028;
}

.text-foreground {
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
  letter-spacing: 2px;
  padding-bottom: 2em;
  font-weight: 300;
  font-size: 0.8em;
}

.btn-85,
.btn-85 *,
.btn-85 :after,
.btn-85 :before,
.btn-85:after,
.btn-85:before {
  border: 0 solid;
  box-sizing: border-box;
}



.btn-85 span {
  font-weight: 900;
  mix-blend-mode: difference;
  transition: opacity 0.2s;
}
.btn-85:hover span {
  -webkit-animation: text-reset 0.2s 0.8s forwards;
  animation: text-reset 0.2s 0.8s forwards;
  opacity: 0;
}
.btn-85:after,
.btn-85:before {
  border: 4px solid #fff;
  border-radius: 999px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.2s cubic-bezier(0.41, 2.01, 0.64, 1);
  width: 100%;
}
.btn-85:after {
  background: #fff;
  border: none;
  height: 2rem;
  width: 0;
  z-index: -1;
}
.btn-85:hover:before {
  -webkit-animation: border-reset 0.2s cubic-bezier(0.41, 2.01, 0.64, 1) 0.78s
    forwards;
  animation: border-reset 0.2s cubic-bezier(0.41, 2.01, 0.64, 1) 0.78s forwards;
  height: 2rem;
}
.btn-85:hover:after {
  -webkit-animation: progress-bar 1s cubic-bezier(0.41, 2.01, 0.64, 1) forwards;
  animation: progress-bar 1s cubic-bezier(0.41, 2.01, 0.64, 1) forwards;
}
@-webkit-keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}
@keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}
@-webkit-keyframes border-reset {
  0% {
    height: 2rem !important;
  }
  to {
    height: 100% !important;
  }
}
@keyframes border-reset {
  0% {
    height: 2rem !important;
  }
  to {
    height: 100% !important;
  }
}
@-webkit-keyframes text-reset {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes text-reset {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#bookid {
  background-color: rgba(255, 255, 255, 0.824);
  color: rgba(0, 0, 0, 0.91);
  border: none;
}

.descr {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: #095028;
  h1 {
    color: #ffffffcb;
  }
  h6 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: -1px;
    color: #ffffff94;
  }
}

.descrHeader {
  margin-bottom: -2em;
}

.orderbuttons {
  margin-top: -1.3em;
  display: flex;
  gap: 1em;
}

button {
  cursor: pointer;
}

.linkcolor {
  color: black;
}

h6 {
  font-family: "Gruppo", sans-serif;
}

aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;

  h6 {
    font-size: 1em;
  }
}

ul {
  list-style: none;
}

.headerbuttons {
  display: flex;
  gap: 2em;
}

input {
  background-color: rgb(56, 56, 56);
  border: none;
  font-family: "Orbitron", sans-serif;
  border-radius: 8px;
  padding: 1em;
}

#sub {
  background-color: rgba(0, 0, 0, 0.949);
  border: 1px solid gray;
}

#sub:hover {
  background-color: #1d8b4d !important;
}

.bookinngzina {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 44, 44, 0.912),
      rgba(0, 0, 0, 0.949)
    ),
    url(https://www.milehighsounds.com/wp-content/uploads/2019/09/IMG_1606.jpg);
  background-position: top;
}

.datepickerblock {
  background-color: rgb(26, 106, 15);
}

.djxrigo {
  border-radius: 8px;
  margin: 1em;
}

.courseBottom {
  margin-top: 0.4em;
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
  border-top: 1px solid rgba(128, 128, 128, 0.657);
}

.allcourses {
  font-weight: 400;
  flex-wrap: wrap;
  display: flex;
  font-family: "Gruppo", sans-serif;
  justify-content: center;
  background-color: rgba(218, 218, 218, 0.068);
}
.coursedescr {
  margin-top: 0.4em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid rgba(113, 109, 109, 0.769);
}

.courseImg {
  border-radius: 8px;
  filter: grayscale(100%);
  transition: filter 0.5s ease, transform 0.5s ease; /* Add transition for transform */
}

.courseImg:hover {
  filter: grayscale(0%);
  transform: scale(1.03); /* Zoom in by 10% */
}

#headbtn {
  background-color: rgba(255, 255, 255, 0.774);
  color: black;
  font-weight: 700;
}

.coursesHeader {
  margin-top: 2em;
  margin-left: 3em;
}

.indcourse {
  background-color: rgba(255, 0, 0, 0.233);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mentor {
  border-radius: 8px;
}

.coursedetails {
  background-color: rgba(24, 23, 23, 0.519);
}

.imagefull {
  border-left: 5px solid rgb(225, 231, 223);
  border-top-left-radius: 16px;
}

.centering {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullimg {
  border: 1px solid black;
}

.desc {
  line-height: 1.5em;
}

.descsect {
  margin: 1em;
}

.courseheader {
  width: 100%;
  position: relative;
  backdrop-filter: blur(100px);
  background-image: url("https://images.unsplash.com/photo-1555432384-3b2fa7b650c9?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  margin-bottom: 0.4em;
}

.courseName {
  padding: 0.2em;
  width: 100%;
  text-align: center;
  padding-bottom: 0.2em;
  backdrop-filter: blur(30px);
}

.headerbtactive {
  background-color: rgb(255, 255, 255);
  color: black;
  min-width: 8em;
}

.coursesbtn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
  font-weight: 400;
  padding: 0.25em;
  font-family: "Gruppo", sans-serif;
  font-weight: 800;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.coursesbtnactive {
  background-color: rgb(255, 255, 255);
  color: black;
  min-width: 8em;
  border: none;
  font-size: 20px;
  font-weight: 400;
  padding: 0.25em;
  font-family: "Gruppo", sans-serif;
  font-weight: 800;
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-width: 10rem;
}

.my-config {
  --darkmode: 1;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}

.zinikosgogo {
  max-width: 500px;
  max-height: 500px;
}



.outerContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  padding-right: 1em;
}

.container1 {
  display: flex;
  align-items: flex-end;
  margin: 1em;
  gap: 0.4em;
  border-bottom: 1px solid rgba(165, 198, 156, 0.402);
}


.container2 {
  display: flex;
  margin: 1em;
  gap: 0.4em;
  border-top: 1px solid rgba(242, 22, 22, 0.22);
}

.container1 h2 {
  color: rgba(255, 255, 255, 0.713);
}

.rentimg {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.rentimg2 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}




@media only screen and (max-width: 900px) {

  

  .outerContainer {
    display: flex;
    flex-direction: column;
  }

  .container1 {
    flex-direction: column;
  }

  .container2 {
    flex-direction: column;
  }

 

  form input{
    width: 85%;
    margin-bottom: 0;
  }


}

.timeslotTitle{
  margin-top: 0.2em;
  margin-left: 0.7em;
  color: #ffffffb2;
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
}




.availabletimesTitle{
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
  color: #ffffff86;
  margin-bottom: 0.3em;
}



.thank{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks{
  font-family: "Orbitron", sans-serif;
  margin-top: 5em;
  margin-bottom: 2em;
}

form{
  display: flex;
  flex-direction: column;
}


.submit{
  background-color: green;
  margin: 2em !important;
  height: 4em;
  width: 85%;
}

